@import "tailwindcss";

:root {
    font-family: Inter, sans-serif;
    font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
    }
  }

  @theme {
    --tw-prose-headings: #9f1239;
    --spacing-2:
  }

  h1 {
    color: var(--tw-prose-headings);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: var(--spacing-2);
  }